[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
py-algorand-sdk = "*"
pyteal = "*"
black = "*"

[dev-packages]
black = "*"
autoflake = "*"
pytest = "*"

[requires]
python_version = "3.9"
